* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrap {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 1170px;
}

.nazione-dischi {
  display: flex;
  flex-wrap: wrap;
  background-color: #272727;
}

.nazione-dischi h1 {
  color: white;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: calc(100% / 5 - 10px);
  background-color: white;
  color: black;
  margin: 5px;
  padding: 10px;
  border-radius: 1%;
}

.card img {
  padding: 5px;
  width: 100%;
}

.header {
  background-color: black;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 100px;
}

.logo h1 {
  color: white;
  padding: 10px;
}

.menu-header ul {
  text-align: center;
  padding: 20px;
}

.menu-header ul li {
  list-style-type: none;
  display: inline-block;
}

.menu-header ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

